<h1>About Me!</h1>
<img src="~/Content/assets/img/about-bg.jpg"  style="width: 300px; height: 300px;"  alt="about-me" />
<p>Just me, myself and I , exploring the universe of uknownment. I have a heart of love and an interest.</p>
