@model IEnumerable<FA.JustBlog.Core.Models.Post>
@{
    ViewBag.Title = "MostViewedPosts";
}

<div class="mb-3" style="margin-top: 3rem;">
    <h5 style="text-transform: uppercase">Top 5 favorite views</h5>
    @if (Model == null)
    {
        <p style="font-weight: bold;">No post found</p>
    }
    else
    {
        <ul style="text-align: justify">
            @foreach (var item in Model)
            {
                <li style="font-size: smaller; list-style-type: square">
                    <a href="@Url.Action("Details", new { id = item.Id})">
                        <h5 class="post-title">@item.Title</h5>
                    </a>
                </li>
            }
        </ul>
    }
</div>
