@model FA.JustBlog.Core.Models.Post
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_admin.cshtml";
}

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview">
                <h3 style="margin-top: 50px;">@ViewBag.Title</h3>
                <h2 class="post-title" style="text-transform: uppercase;">@Html.DisplayFor(model => model.Title)</h2>
                <p class="post-meta">
                    Posted on @Html.DisplayFor(model => model.PostedOn)
                </p>
                <p class="post-subtitle">@Html.DisplayFor(model => model.PostContent)</p>
            </div>
        </div>
    </div>
</div>